* {
    
	margin: 0;
	padding: 0;

}

.navbar-fixed-top{
     background-color: white;
	-webkit-box-shadow: 8px -16px 13px 19px rgba(0,0,0,0.81);
	-moz-box-shadow: 8px -16px 13px 19px rgba(0,0,0,0.81);
	box-shadow: 8px -17px 11px 15px rgba(0,0,0,0.81);
	font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.transparent-navbar {
   	background: transparent;
	border: none;
}
.navbar-default .custom-navigation li a{
	/*font-family: Poppins;*/
	font-size: 14px;
	line-height: normal;
    color: #3A3A3A;
    
}
.navbar-default .custom-navigation li a:hover{
	color: #7D7B7B;
}
.navbar-brand {
	margin: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	margin-top: 12px; 
}

.navbar-header {
	margin-top: 10px; 
}
.btn-primary {
	width: 148px;
	height: 43px;
	padding-left: 40px;
	padding-top: 12px;
	font-size: 14px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	color: #FFFFFF;
	border-radius: 1px;
	border-color: #3B67B4;
	background-color: #3B67B4;
}

.item .btn-primary {

	margin-top: 40px;
}



.carousel-caption {
top: 20%; 
text-align: left; 
}

}
.carousel-caption  {
	width: 400px;
    margin-left: 25%;
}

.a {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	margin-top: 40px;
	width: 148px;
	height: 43px;
	padding-right: 23px; 
	padding-left: 23px;
	padding-top: 9px;
	padding-bottom: 7px;
	color: #fff;
	border-radius: 1px;
	border-color: #3B67B4;
	background-color: #3B67B4;
}


.a {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	width: 148px;
	height: 43px;
	padding-right: 37px; 
	padding-left: 38px;
	padding-top: 10px;
	padding-bottom: 6px;
	color: #fff;
	border-radius: 1px;
	border-color: #3B67B4;
	background-color: #3B67B4;
}


h1  {
    line-height: 1.6;
	margin-bottom: 20px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

p {
	font-size: 18px;
    line-height: 1.6;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}


.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 35px;
  height: 3px;
  margin: 3px;
  text-indent: -999px;
  background-color: #fff;
  border: 1px solid #fff;
}

.carousel-indicators .active {
  display: inline-block;
  width: 70px;
  height: 4px;
  margin: 3px;
  text-indent: -999px;
  border: 1px solid #fff;
}

.carousel-control {
  top: 20%;
  width:100px;
  height: 200px;
  opacity: 0.2;
}


.carousel-inner  {
    background-size: 100%;
}



.tag
{file:///C:/Users/User/Desktop/duex/index.html#carousel-example-generic
	background-color: #C3B4B1;
	display:inline-block;
	padding: 5px;

}

.modal-body{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:50px;
	margin-right:50px;

}

.modal{
	padding-top: 10%;
}

.section{
	width:100%;
	height:auto;
	 position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}
.help{
	display:block;
	position: absolute;
	right: 15px;
	bottom: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	overflow:auto;
}
.help_more{
	display:none;
	position: absolute;
	right: 0px;
	bottom: 0px;
	margin-right: 5px;
	margin-bottom: 5px;
	overflow:auto;
	background-color: #3B67B4;
	width:10%;
    word-wrap: break-word;
    text-align:center;
    font-size:15px;
    padding:8px;

}
.help_more p
{
	font-size:15px;
}





.exp:focus + .help_more{
	display: block;
}




 body {
	height:100%;
	margin-top: 50px;
	overflow: hidden;
	background-color: gray;
} 
 

.carousel-control {
  top: 40%;
  width:100px;
  height: 200px;
  opacity: 0.2;
}

.carousel-control:hover {
opacity: 0.5;
}

.carousel-control:focus {
	opacity: 0.5;
}

.fa {
font-size: 30px;	
margin-top: 90px;
}


.help_more .left {
	text-align: left;
}

.help p {
	color: #000;
}

.help_more p, h4  {
	color: #fff;
}
